<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bdsyspi?createDatabaseIfNotExist=true</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"></property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.show_sql">true</property>
    <mapping class="syspi.modelo.Acs"/>
    <mapping class="syspi.modelo.Ano"/>
    <mapping class="syspi.modelo.Consulta"/>
    <mapping class="syspi.modelo.ConsultaHistorico"/>
    <mapping class="syspi.modelo.Crianca"/>
    <mapping class="syspi.modelo.Imunizacao"/>
    <mapping class="syspi.modelo.ImunizacaoHistorico"/>
    <mapping class="syspi.modelo.Responsavel"/>
    <mapping class="syspi.modelo.TempoVidaConsulta"/>
    <mapping class="syspi.modelo.TempoVidaImunizacao"/>
    <mapping class="syspi.modelo.TipoProfissional"/>
    <mapping class="syspi.modelo.Ubs"/>
  </session-factory>
</hibernate-configuration>
